*{
    font-family: Georgia ;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(https://images5.alphacoders.com/117/1172191.png);
    background-size: 1200px;
    width: 100%;
}

/* Título */

.titulo-principal{
    font-size: 40px;
    text-align: center;
    margin: 20px 0 20px 0;
    border-radius: 10px;
    color: rgb(215, 215, 215);
}

/* Párrafo principal */

.parrafo-principal{
    font-size: 30px;
    color: rgb(175, 175, 175);
    text-align: center;
    margin: 20px 0 20px 0;
}

/* Recuadro del formulario */

.formulario{
    width: 100%;
    display: flex;
    justify-content: center;
}

.form{
    box-shadow: 0px 0px 4px black;
    border-radius: 10px;
    width: 310px;
    height: 260px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://static.vecteezy.com/system/resources/previews/003/370/073/non_2x/space-moon-planets-and-stars-galaxy-solar-system-cartoon-vector.jpg);    
    background-size: 550px;
}

.titulo-ingresa{
   font-size: 17px;
   font-weight: bolder;
   color: white;
}

.inputs{
    width: 270px;
    height: 25px;
    font-size: 15px;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 5px;
    padding: 5px;
    outline: none;
}
     
    /* Quitar botones de campo input number */

.inputs[type=number]::-webkit-inner-spin-button, 
.inputs[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
}

.inputs:hover{
    outline: 1px solid rgb(143, 143, 143);
}

.inputs:focus{
    border: 1px solid rgb(99, 99, 99);
}

.selector{ /* Desplegable de planetas */
    width: 280px;
    height: 35px;
    border: 1px solid rgb(143, 143, 143);
    border-radius: 5px;
    font-size: 15px;
}

.boton{
    width: 120px;
    height: 30px;
    border: 1px solid white;
    border-radius: 7px;
    background: rgb(0, 156, 228);
    color: white;
    font-size: 17px;
}

.boton:hover{
    background:rgb(0, 116, 170) ;
}

/* .boton-mostrar{
    width: 220px;
    height: 30px;
    border: 1px solid white;
    border-radius: 7px;
    background: rgb(0, 116, 170);
    color: white;
    font-size: 15px;
} */

.boton-reset{
    width: 100px;
    height: 25px;
    border: 1px solid white;
    border-radius: 7px;
    background: rgb(0, 70, 102);
    color: white;
    font-size: 13px;
}

.boton-reset:hover{
    background: rgb(0, 115, 168);
}

/* Recuadro del resultado */

.caja-resultado{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.resultado{
    width: 470px;
    padding: 30px;
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
    height: 120px;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url(https://images4.alphacoders.com/882/882586.jpg);
    background-size: 510px;
    background-position-x: center;
}

/* Responsive */

@media screen and (max-width: 570px){
    .titulo-principal{
        font-size: 30px;
    }

    .parrafo-principal{
        font-size: 25px;
    }
    
    .resultado{
        width: 420px;
    }
}

@media screen and (max-width: 420px) {
    .resultado{
        width: 310px;
        font-size: 25px;
    }

    .parrafo-principal{
        width: 350px;
        margin: 10px;
    }

}